.experience {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=210726&c2=e53314&gt=l&gd=dbb
*/
/* background: #210726; */
background: linear-gradient(0deg, #210726, #8f8785);
  padding: 40px; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Arial', sans-serif; 
  font-size: 2.5rem; 
  color: #2c3e50; 
  margin-bottom: 20px; 
}

p {
  font-family: 'Arial', sans-serif; 
  font-size: 1.2rem; 
  color: #555; 
  line-height: 1.6; 
}

.card {
  border: none; 
  transition: transform 0.2s; 
}

.card:hover {
  transform: scale(1.05); 
}

.card-title {
  font-family: 'Arial', sans-serif; 
  font-size: 1.5rem; 
  color: #0a0a0a; 
}

.card-text {
  font-family: 'Arial', sans-serif;
  color: #333; 
}


@media (max-width: 576px) {
  .experience {
    padding: 20px; 
  }

  h2 {
    font-size: 1.8rem; 
  }

  p {
    font-size: 1rem; 
  }

  .card-title {
    font-size: 1.3rem; 
  }
}